* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


/* font-family: 'Coustard', serif; */
/* font-family: 'EB Garamond', serif; */

/* body rules here */
body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

/* header rules here */
/* h1, h2, h3 {font-family: 'Coustard', serif;} */
/* h1, h2, h3 {font-family: 'Great Vibes', cursive;} */
h1, h2, h3 {font-family: 'Krona One', sans-serif;}

header {
  background-color: #a9def9;
  padding: 1rem 2%;  
}
header h1 {
  margin: 0;
}
header h2 {
  margin: 0;
}
header h3 {
  margin: 0;
}

/* main rules here */
main {
  display: grid;
  grid-template-columns: 1fr;
}

main section {
  margin: 0.5rem;
  padding: 0 1rem;
  border: 1px solid #bbb;
  border-radius: 10px;
  background-color:aliceblue   
}

main h2 {
  color: #17a8e4;
  background-color: black;
  margin: 0 auto;
  /* padding: 0 .5rem; */
  padding: .5rem 2%;
}


/* image control */
main figure img {
  width: 100%;
}

footer {
  text-align: center;
  padding: 1rem 2%;
  background-color: #a9def9;
}
